<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://paymentazurefunction20220921004756.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fb67555c-38d9-44a9-a0d6-af0015085f04/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/PaymentAzureFunction20220921004756</ResourceId>
    <UserName>$PaymentAzureFunction20220921004756</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://paymentazurefunction20220921004756.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>